/* index.css */
@keyframes slideDown {
    0% {
      transform: scaleY(0.70);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  
  .dropdown-enter {
    animation: slideDown 0.2s ease-out forwards;
    transform-origin: top;
    will-change: transform, opacity;
  }
  